name: CI
'on':
  push: ~
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
jobs:
  phpSyntaxCheck:
    name: 'PHP Syntax Check (PHP ${{ matrix.envs.php }})'
    strategy:
      matrix:
        envs:
          -
            php: '8.1'
            experimental: false
          -
            php: '8.2'
            experimental: false
          -
            php: '8.3'
            experimental: false
          -
            php: '8.4'
            experimental: false
          -
            php: '8.5'
            experimental: true
    runs-on: ubuntu-22.04
    steps:
      -
        uses: actions/checkout@v4
      -
        name: 'Use PHP ${{ matrix.envs.php }}'
        uses: shivammathur/setup-php@v2
        with:
          php-version: '${{ matrix.envs.php }}'
      -
        name: 'Syntax check'
        continue-on-error: '${{ matrix.envs.experimental }}'
        env:
          LANG: C
        run: |
          find . \( -type d \( -name '.git' -or -name 'vendor' -or -name 'runtime' \) -prune \) -or \( -type f -name '*.php' -print \) | \
            sort | \
            xargs -n 1 php -l
  phpcs:
    name: 'PHP Coding Style (PSR-12)'
    runs-on: ubuntu-22.04
    steps:
      -
        uses: actions/checkout@v4
      -
        name: 'Use PHP 8.4'
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
      -
        name: 'Install Composer dependencies'
        run: 'composer install --prefer-dist'
      -
        name: 'Run PHPCS'
        run: vendor/bin/phpcs
  phpStan:
    name: 'PHP Static Analysis'
    runs-on: ubuntu-22.04
    steps:
      -
        uses: actions/checkout@v4
      -
        name: 'Use PHP 8.4'
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
      -
        name: 'Install Composer dependencies'
        run: 'composer install --prefer-dist'
      -
        name: 'Run PHPStan'
        run: 'vendor/bin/phpstan analyze --memory-limit=1G'
  phpTest:
    name: 'PHP test (PHP ${{ matrix.envs.php }})'
    strategy:
      matrix:
        envs:
          -
            php: '8.1'
            experimental: false
          -
            php: '8.2'
            experimental: false
          -
            php: '8.3'
            experimental: false
          -
            php: '8.4'
            experimental: false
          -
            php: '8.5'
            experimental: true
    runs-on: ubuntu-22.04
    steps:
      -
        uses: actions/checkout@v4
      -
        name: 'Use PHP ${{ matrix.envs.php }}'
        uses: shivammathur/setup-php@v2
        with:
          php-version: '${{ matrix.envs.php }}'
      -
        name: 'Remove phpstan-related packages from dependencies'
        run: |
          composer remove --dev --no-update --no-install 'proget-hq/phpstan-yii2' 'phpstan/phpstan'
      -
        name: 'Install dependencies'
        run: |
          rm -f composer.lock
          composer install --prefer-dist
      -
        name: 'Run test on PHP ${{ matrix.envs.php }}'
        continue-on-error: '${{ matrix.envs.experimental }}'
        run: |
          vendor/bin/phpunit
